.post_all_item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: solid #ccc;
}
.post_all_item_img img {
    width: 50px;
    height: 50px;
}
.post_all_item_content {
    margin-left: 40px;
    font-size: 20px;
}
